.navContainer .open {
    z-index: 1;
    transform: rotate(0deg);
    animation: rotate-open 1s forwards;
}

.navContainer .close {
    z-index: 1;
    transform: rotate(180deg);
    animation: rotate-close 1s forwards;
}

@keyframes rotate-open {
    100% {transform: rotate(180deg);}
}

@keyframes rotate-close {
    100% {transform: rotate(360deg);}
}

.navContainer .openNav {
    margin-top: 0px;
    animation: nav-open 1s forwards;
}

.navContainer .closeNav {
    margin-top: 400px;
    animation: nav-close 1s forwards;
}

@keyframes nav-open {
    100% {margin-top: 400px;}
}

@keyframes nav-close {
    100% {margin-top: 0px;}
}

.navContainer .back{
    background-color: none;
    animation: nav-eas 0.3s forwards;
}

.navContainer .without{
    background-color: #0e111b;
    animation: nav-out 0.3s forwards;
}

@keyframes nav-eas {
    100% {background-color: #0e111b;}
}

@keyframes nav-out {
    100% {background-color: #ffffff00;}
}