.navContainer {
    position: fixed;
    width: 100%;
    z-index: 10;
    margin-top: -300px;
}

.navContainer .navContent {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.navContainer #navMenuPlus {
    position: absolute;
    flex-direction: column;
    z-index: 1;
}

.navContainer .default {
    display: none;
}

.navContainer #navMenuPlus li {
    font-family: Roboto, sans-serif;
    font-weight: 300;
    font-size: 20px;
    margin-top: 20px;
    color: white;
    transition: all ease-in-out 0.3s;
}

.navContainer .navMenu {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(180, 180, 180);
}

.navContainer .navContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100px;
}

.navContainer .arrow {
    transform: rotate(90deg);
    width: 20px;
    display: none;
}

.navContainer .navMenu li {
    font-family: Montserrat, sans-serif;
    font-weight: 600;
    font-size: 40px;
    margin-left: 50px;
    margin-right: 50px;
    filter: blur(0px);
    transition: all ease-in-out 0.3s;
}

.navContainer .navMenu li:hover {
    color: white;
}

.navContainer .navMenu li::after {
    content: '';
    display: flex;
    width: 100%;
    height: 3px;
    border-radius: 5%;
    background-color: #FFC25C;
    opacity: 0;
    margin-top: 10px;
    transition: all ease-in-out 0.3s;
}

.navContainer .navMenu li:hover::after {
    opacity: 1;
    margin-top: 0;
}